{% extends "base.html" %}
{% load static %}

{% block body %}
<!-- ------------------------------------- -->
<nav class="location">
    <!-- <div>
            <button onclick="register()" class="view">
                All
            </button>
        </div>
        <div>
            <button onclick="register()" class="view">
                North America
            </button>
        </div>
        <div>
            <button onclick="register()" class="view">
                South America
            </button>
        </div>
        <div>
            <button onclick="register()" class="view">
                Asia
            </button>
        </div>
        <div>
            <button onclick="register()" class="view">
                Europe
            </button>
        </div>
        <div>
            <button onclick="register()" class="view">
                Australia
            </button>
        </div> -->
    <div class="location-all" onclick="redirect()">All</div>
    <div class="location-northamerica" onclick="redirect_northamerica()">
        North America
    </div>
    <div class="location-northamerica" onclick="redirect_southamerica()">
        South America
    </div>
    <div class="location-northamerica" onclick="redirect_asia()">Asia</div>
    <div class="location-northamerica" onclick="redirect_europe()" style="background-color:  rgb(59, 91, 146);">
        Europe
    </div>
    <div class="location-northamerica" onclick="redirect_australia()">
        Australia
    </div>
</nav>

<!-- ------------------------------------- -->
<div class="imp">
    <div class="main">
        <div class="main5">
            <img src="/static/assets/oxford.jpg" alt="oxford university photo" width="380px" height="200px" />
            <div>
                Oxford University
                <br />
                <img src="/static/assets/globe.png" alt="globe icon" width="17px" height="17px" />
                <span id="q"> Country : </span>
                <span id="a">United Kingdom</span>
                <br />
                <img src="/static/assets/coin.png" alt="cost icon" width="17px" height="17px" />
                <span id="q"> Expense : </span>
                <span id="a"> 39,000 GBP per year </span>
                <!----------------------->
                <br />
                <img src="/static/assets/calendar.png" alt="cost icon" width="17px" height="17px" />
                <span id="qs"> Deadline : </span>
                <span id="a"> November 1, 2022 </span>
                <br />
                <button onclick="register()" class="apply">Apply</button>
            </div>
        </div>
        <div class="main2">
            <img src="/static/assets/imperial.jpg" alt="imperial university photo" width="380px" height="200px" />
            <div>
                Imperial University
                <br />
                <img src="/static/assets/globe.png" alt="globe icon" width="17px" height="17px" />
                <span id="q"> Country : </span>
                <span id="a">UK</span>
                <br />
                <img src="/static/assets/coin.png" alt="cost icon" width="17px" height="17px" />
                <span id="q"> Expense : </span>
                <span id="a"> 100,000 Yen to 200,000 Yen per month </span>
                <!----------------------->
                <br />
                <img src="/static/assets/calendar.png" alt="cost icon" width="17px" height="17px" />
                <span id="qs"> Deadline : </span>
                <span id="a"> November 10, 2022 </span>
                <br />
                <button onclick="register()" class="apply">Apply</button>
            </div>
        </div>
        <div class="main3">
            <img src="/static/assets/cambridge.jpg" alt="cambridge university photo" width="380px" height="200px" />
            <div>
                Cambridge Univesity
                <br />
                <img src="/static/assets/globe.png" alt="globe icon" width="17px" height="17px" />
                <span id="q"> Country : </span>
                <span id="a">Japan</span>
                <br />
                <img src="/static/assets/coin.png" alt="cost icon" width="17px" height="17px" />
                <span id="q"> Expense : </span>
                <span id="a"> 80,000 JPY per month </span>
                <!----------------------->
                <br />
                <img src="/static/assets/calendar.png" alt="cost icon" width="17px" height="17px" />
                <span id="qs"> Deadline : </span>
                <span id="a"> December 1, 2022 </span>
                <br />
                <button onclick="register()" class="apply">Apply</button>
            </div>
        </div>
        <div class="main4">
            <img src="/static/assets/zurich.jpg" alt="zurich university photo" width="380px" height="200px" />
            <div>
                ETH Zürich
                <br />
                <img src="/static/assets/globe.png" alt="globe icon" width="17px" height="17px" />
                <span id="q"> Country : </span>
                <span id="a">United States</span>
                <br />
                <img src="/static/assets/coin.png" alt="cost icon" width="17px" height="17px" />
                <span id="q"> Expense : </span>
                <span id="a"> 75,000 USD per year </span>
                <!----------------------->
                <br />
                <img src="/static/assets/calendar.png" alt="cost icon" width="17px" height="17px" />
                <span id="qs"> Deadline : </span>
                <span id="a"> November 1, 2022 </span>
                <br />
                <button onclick="register()" class="apply">Apply</button>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
