/*
* {
    margin: 0;
    padding: 0;
}
*/

html{
    background-color: powderblue;
}

.head2 {
    background-color: rgba(34, 43, 58, 100%);
    width: 100%;
    height: 100px;
}

.head3 {
    float: left;
    color: white;
    padding-left: 25px;
    padding-top: 15px;
    /* not making any difference

    padding-bottom: 50px;

    */

    /*no use*/
    width: 10px;
    height: 10px;
    float: left;

}

.head4 {
    padding-left: 80px;
    padding-top: 17px;
    
    float: left;
}

.head5 {
    float: left;
    padding-left: 10px;
    padding-top: 17px;
    font-size: 40px;
    transform: scaleY(2.7);
    color: white;
}  

.brand {
    float: left;
    padding-left: 10px;
    color: green;
    font-size: 35px;
} 

.head6 {
    padding-top: 10px;
    color: white;
    font-family: 'Gilroy';
}

.head7 {
    color: rgb(87, 117, 180);
}

/* flex container with 5 items */
.navbar {
    display: flex;
    background-color: orange;
    flex-direction: row;
}

.navbar > div {
    color: white;
    background-color: rebeccapurple;
    width: 100px;
    margin: auto;

}

.location{
    display: flex;
    background-color: rgba(34, 43, 58, 100%);
    flex-direction: row;
    margin: 30px;
    width: auto;
    height: 50px;
}

.location > div {
    background-color: rebeccapurple;
    width: 200px;
    margin: 20px;
    color: white;

}

